.main {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
}

.timeline {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: var(--darkorange);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue);
}

.descriptionSection {
  font-size: 1.2rem;
  color: var(--blue);
}
