.card {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--beige);
  background-color: var(--darkorange);
  margin-top: 100px;
}

.card:hover {
  transform: translateY(-7px);
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
}
