@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #0d3b66;
  --beige: #faf0ca;
  --yellow: #f4d35e;
  --orange: #ee964b;
  --darkorange: #f95738;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
