.cardSpread {
  position: relative;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cardSpread .card {
  position: absolute;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgb(0 2 8 / 20%);
}

.cardSpread .card:nth-child(1) {
  transform: translate(-200px, -30px);
}

.cardSpread .card:nth-child(2) {
  transform: translate(0, -150px);
}

.cardSpread .card:nth-child(3) {
  transform: translate(200px, -30px);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--blue);
  position: relative;
  cursor: default;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::before {
    top: -16px; // above the title
    width: 50px;
    height: 4px;
    background: var(--darkorange);
  }

  &::after {
    bottom: -8px; // below the title
    width: 30px;
    height: 4px;
    background: var(--yellow);
  }

  &:hover::before {
    width: 120px; // expands outward from center
  }

  &:hover::after {
    width: 80px; // expands outward from center
  }
}

.subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--blue);
  position: relative;
  cursor: default;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::before {
    top: -16px;
    width: 50px;
    height: 4px;
    background: var(--darkorange);
  }

  &::after {
    bottom: -8px;
    width: 30px;
    height: 4px;
    background: var(--yellow);
  }

  &:hover::before {
    width: 120px;
  }

  &:hover::after {
    width: 80px;
  }
}

.main {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
  border-radius: 24px;
  box-shadow: 0 4px 16px rgb(0 2 8 / 20%);
  margin: 100px auto 50px auto;
}

.timeline {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: var(--blue);
}

.descriptionSection {
  font-size: 1.2rem;
  color: var(--blue);
}
