.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--darkorange);
  color: var(--blue);
  width: 100%;
  z-index: 10;
  position: fixed;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  position: relative;

  &:hover {
    color: white;
    transition: color 0.2s;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: white;
    transition:
      width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
    left: 50%;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  padding: 5px;
  margin-right: 8px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s;
  margin: 0 5px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--beige);
    transition:
      width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
  }
}

.nav a:hover {
  color: var(--beige);
}

.nav a:hover::after {
  width: 100%;
  left: 50%;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 100;
  span {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
  }
}

.navLink {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--beige);
    transition:
      width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
  }

  &:hover,
  &.active {
    color: var(--beige);
  }

  &:hover::after,
  &.active::after {
    width: 100%;
    left: 50%;
  }
}

@media (max-width: 600px) {
  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--darkorange);
    border-radius: 5px;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    padding: 1rem;
    display: none;
    box-shadow: 0 4px 16px rgb(0 2 8 / 20%);
  }
  .nav.open {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
}
